extends layout

block content
  <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
  h1= title
  p Welcome to #{title}
  div(style="padding 4px; cursor:pointer;" onclick="clickL()") <
  div(style="padding 4px; cursor:pointer;" onclick="clickR()") >
  #messages
  script.
    var workerId=1;
    var id=null;
    function addRow(txt){
      var elem=document.createElement("div")
      elem.innerHTML=txt;
      document.getElementById("messages").appendChild(elem);
    }
    const socket = io();
    socket.on("connect", () => {
      socket.emit("helloClient",JSON.stringify({workerId}))
      id=socket.id
    });
    function clickL(){
      console.log("L")
      socket.emit("message",JSON.stringify({workerId, cmd:"l"}))
    }
    function clickR(){
      console.log("R")
      socket.emit("message",JSON.stringify({workerId, cmd:"r"}))
    }
